/* CONFIGURATIONS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main: #191923;
  --color: #fbfef9;
  --main-color: #c0e8f9;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main);
  color: var(--color);
}

::-webkit-scrollbar {
  display: none;
}

section {
  min-height: 100vh;
  padding: 10px 30px;
  padding-top: 70px;
}

section h1 span {
  color: var(--main-color);
}

section h1 {
  text-align: center;
  font-size: 32px;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  z-index: 999;
  transition: backdrop-filter 1s ease-in-out;
}

/* HEADER */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 40px;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.105);
  background-color: var(--main);
}

nav .links {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: width 0.7s ease-in-out;
}

nav .links a {
  text-decoration: none;
  color: var(--color);
  transition: color 0.5s ease-in-out;
  font-size: 16px;
  white-space: nowrap;
}

nav .links a:hover {
  color: var(--main-color);
}

nav .nav-name {
  font-size: 32px;
  color: var(--main-color);
}

nav .menu-btn {
  display: none;
}

/* HOME SECTION */
#home-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#home-sec img {
  width: 400px;
}
.home-sec-tagline {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.home-sec-tagline p:last-child {
  font-size: 18px;
}
.home-sec-tagline p {
  font-size: 38px;
}
.home-sec-tagline p:first-child > span {
  font-weight: bold;
  color: var(--main-color);
}

.a-button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 18px;
  color: var(--main);
  background-color: var(--main-color);
  width: max-content;
  text-decoration: none;
  transition: transform 0.6s ease-in-out;
  font-weight: bold;
}

.a-button:hover {
  transform: scale(1.08);
}
.a-button:active {
  transform: scale(0.95);
}

/* ABOUT ME */
#about-sec {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-sec-main img {
  width: 400px;
}
.about-sec-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.about-sec-text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* SKILL SECTION */
#skill-sec {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skill-sec-main img {
  width: 400px;
  display: block;
}
.skill-sec-main {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 60%;
  margin: 0 auto;
}

.skill-sec-list {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* PROJECT SECTION */
#project-sec {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 30px;
}

.project-sec-list {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  height: 550px;
  padding: 10px;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  gap: 10px;
}

.project-sec-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.project-sec-list::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 20px;
}

.project-sec-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}

.project-sec-list::-webkit-scrollbar-thumb:active {
  background-color: var(--main-color);
}

.project-sec-list::-webkit-scrollbar {
  width: 5px;
  display: block;
}

.project-template img {
  background-size: cover;
  width: 100%;
}
.project-template {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  /* border: solid 1px var(--main-color); */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.112);
}

button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 18px;
  color: var(--main);
  background-color: var(--main-color);
  width: max-content;
  transition: transform 0.6s ease-in-out;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  transform: scale(1.08);
}

button:active {
  transform: scale(0.8);
}

/* CONTACT US */
#contact-sec {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  min-height: max-content;
  margin-bottom: 0;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  margin: 0 auto;
}

input,
textarea {
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--color);
  color: var(--main);
}

textarea {
  resize: none;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: var(--main-color);
  color: var(--main);
  padding: 50px;
  text-align: center;
}

footer div {
  margin: 10px 0;
}

footer div div {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 0;
}
footer div div a,
footer > p:last-child a {
  text-decoration: none;
  color: var(--main);
}

footer > p:last-child a {
  font-weight: bold;
}

footer div p {
  font-weight: bold;
}

/* ADDITONAL */
.hide {
  display: none;
}
